* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #333333;
  }

/*navbar*/
.hamburger {
  display: none;
}

.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0.5em 4em 0.5em 4em;
  background-color: white;
}

nav header {
  height: 6em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  transition: 0.7s ease;
  font-size: 1.2em;
  margin-left: 2rem;
  padding: 0.5em;
}

.navbar a:hover{
  background-color: #009FB5; 
  color: white;
  border-radius: 0.5em;
}

.line {
  display: block;
  border-radius: 2px;
  width: 50px;
  height: 1.5px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: #333333;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #ACD8E1, #7CC4D1); 
  height: 37rem;
}

h1 {
  color: white;
  font-size: 5.5em;
  font-weight: 400;
  letter-spacing:-0.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2em;
  font-weight: 200; 
  color: rgb(91, 91, 91);
}

.button-hero {
  background-color: #009FB5; 
  color: white; 
  font-size: 1.2em;
  border: none;
  border-radius: 0.3em;
  padding: 0.8em;
  width: 15em;
  cursor: pointer;
  text-align: center;
  margin-top: 2em;
  transition: 0.7s;
}

.button-hero:hover{
  background-color: #009FB5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

/*SECTION hero*/
.hero-mobile {
  display: none;
}

.hero-img {
  background-image: url(pictures/tereza_hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 95%;
  width: 490px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #ACD8E1;
  border-radius: 4% 0% 0% 4%;
}

.hero-left {
  display: flex;
  align-items: flex-end;  
  margin-left: 8rem;       
  width: 40em;
  height: 100%;
}  

.text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  border-radius: 1em; 
  margin-right: 10rem;
  background-color: #009FB5;
  color: white;
  padding: 1em;
}

/*SECTION services*/
.services-mobile {
  display: none;
}

.services {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
  text-align: center;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  margin-top: 1em;
  }

.services-left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 500px;
  height: 500px;
  background-image: url(pictures/naucimtejak_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0rem 8rem;
  align-self: center;
}  
  
.services-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  font-size: 3.3em;
  filter: grayscale(100%);
  cursor: pointer;
}

.active {
  filter: grayscale(0%);
}

.icon-1 {
  grid-column: 3;
  grid-row: 1;
  align-self: flex-end;
  justify-self: center;
}

.icon-2 {
  grid-column: 5;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-start;
  transform: translate(-50px, 50px);
}

.icon-3 {
  grid-column: 5;
  grid-row: 3;
  align-self: center;
}

.icon-4 {
  grid-column: 5;
  grid-row: 5;
  transform: translate(-50px, -50px);
}

.icon-5 {
  grid-column: 3;
  grid-row: 5;
  justify-self: center;
}

.icon-6 {
  grid-column: 1;
  grid-row: 5;
  align-self: flex-start;
  justify-self: flex-end;
  transform: translate(50px, -50px);
}

.icon-7 {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: flex-end;
}

.icon-8 {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
  transform: translate(50px, 50px);
}
  
/*SECTION aboutme*/
.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10em;
}

.aboutme-left {
  display: flex;
  flex-direction: column;
  background-color: #ACD8E1;
  height: 25em;
  justify-content: center;
  border-radius: 0em 2em 2em 0em;
  font-size: 1.5em;
  font-weight: 400;
}

.aboutme-right {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10em;
  margin-left: 10em;
}

.style-bubbles {
  background-color: #F1F1F1;
  padding: 0.5rem 1em 0.5em 1em;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1.5rem;
  margin-top: 0.2em;
  width: 34%;
  margin-left: 4em;
}

.bubble-1 {
  color: white;
  background: linear-gradient(#970EFF, #7F1FFF);
}

.bubble-2 {
  border-radius: 1.5em 1.5em 0.1em 1.5em;
}

.bubble-3, .bubble-4 {
  border-radius: 1.5em 0.1em 0.1em 1.5em;
}

.bubble-5 {
  border-radius: 1.5em 0.1em 1.5em 1.5em;
}

.aboutme-messenger {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

/*reservation*/
.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation p {
  margin-top: 0;
}

/*partners*/
.calendly-inline-widget {
  margin-bottom: 10em;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.partners img {
  filter: grayscale(100%);
  cursor: pointer;
  height: auto;
  width: 150px;
}

.partners img:hover {
  filter: grayscale(0%);
}

/*Mobile Media*/
@media screen and (max-width: 1300px){
/*navbar*/
h1 {
  font-size: 10em;
}

h2 {
  font-size: 3em;
}

.navbar-mobile {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 1em 2em 1em 2em;
}

.navbar img {
  display: none;
}

.hamburger {
  display: block;
  z-index: 500 !important;
  cursor: pointer;
  padding-right: 2em;
}

.navbar {
  height: auto;
  top: 160px;
  width: 100%;
  position: absolute;
  transition: 0.5s;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-size: 2em;
  padding: 1em;
  opacity: 0;
}

.line {
  width: 60px;
  height: 10px;
}

.navbar.active-mobile{
  opacity: 1;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*hero*/
.hero {
  display: none;
}

.hero-mobile {
  display: inline-block;
  align-items: center;
  background: linear-gradient(90deg, #ACD8E1, #7CC4D1); 
  padding: 3em;
}

.button-hero {
font-size: 2rem;
}

/*services*/
.services{
  display: none;
}

.services-mobile{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  margin-top: 1em;
}

.icon-text{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-right: 2em;
}

.icon-text img {
  margin-right: 1em;
}

/*aboutme*/
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10em;
}

.flex-text {
  width: 60%;
}
}
